$pr-color: #33836E;
$text-color: #140A32;
$gray-medium: #2F2B43;
$gray-low: #2F2B43;
$rec-bg: #EBF2F0;
$gray-border: #2F2B43;
$gray-hight: #2F2B43;
$base-black: #140A32;
$seo-btn-bg: #E0ECE9;
$blue: #115B82;

$site-font: 'Open Sans',sans-serif;
