@import "fonts";
@import "variables";
@import "mixins";
@import "extends";
@import "bottom";
@import "center";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $site-font;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    @include font(400,16px,1.6);
    color: $text-color;
    background: #fff;
}
main {
    flex-grow: 1;
}